{# ubuntu-jack: ubuntu info #}
## Ubuntu System Info

**Release:** {{ probes["release"] | default("unknown") }}
**Codename:** {{ probes["codename"] | default("unknown") }}
**Kernel:** {{ probes["kernel"] | default("unknown") }}